* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html body {
  width: 100%;
  height: 100%;
}
.page1 {
  width: 100vw;
  max-height: 100vh;
  background-color: #f3f8ff;
  overflow-y: hidden;
}
.flex {
  display: flex;
}
nav {
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  color: #424d65;
}
.menu {
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.left-menu {
  gap: 15px;
}
.right-menu {
  padding: 5px 10px;
  border: 2px solid #d0e5f2;
  border-radius: 30px;
  align-items: center;
  gap: 15px;
}
.right-menu > a {
  background-color: #fe5600;
  border-radius: 30px;
  padding: 5px 10px;
}
span {
  color: white;
}
.buttons {
  gap: 15px;
  align-items: center;
}
.btn-log-in {
  border-bottom: 2px solid #04a8ff;
}
.btn-sign-in {
  background-color: #def4fe;
  padding: 10px 15px;
  border-radius: 8px;
  color: #04a8ff;
}
.hero {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-hero {
  width: 50%;
  padding-left: 140px;
}
.left-hero > h4 {
  padding-top: 10px;
  font-family: seaweed script;
  color: #00acff;
  font-size: 50px;
  margin-bottom: 20px;
}
.left-hero h2 {
  font-size: 85px;
  line-height: 90px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: #292e37;
  overflow-y: hidden;
}
.left-hero::-webkit-scrollbar {
  display: none;
}
.left-hero p {
  font-size: 18px;
  color: #525d73;
  margin-bottom: 30px;
}
.right-hero {
  height: 100%;
}
.right-hero > img {
  height: 750px;
}
.hero-btn-section {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero-btn-section a {
  text-decoration: none;
}
.hero-btn-section :first-child {
  color: white;
  background-color: #00acff;
  padding: 15px;
  border-radius: 5px;
}
.hero-btn-section a:last-child {
  color: #00acff;
}
.page2 {
  margin: 0 140px;
  margin-top: 20px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h4 {
  color: #00acff;
  font-size: 26px;
  margin-bottom: 20px;
}
.heading h2 {
  color: #292e37;
  font-size: 45px;
  overflow-y: hidden;
  line-height: 55px;
}
.btn-section {
  position: relative;
}
.btn {
  align-self: flex-end;
  padding: 30px;
  color: #04a8ff;
}
.page2-row {
  margin: 120px 0;
  justify-content: space-between;
}
.elem {
  align-items: center;
  gap: 30px;
}
.elem > img {
  padding: 8px;
  background-color: #00acff;
  border-radius: 50%;
}
.elem > h4 {
  font-size: 24px;
  color: #292e37;
}
.elem:nth-child(2) img {
  background-color: #fe5600;
}
.elem:last-child img {
  background-color: #ffc700;
}
.page3 {
  margin-left: 140px;
  margin-top: 60px;
  height: 120vh;
  overflow-y: hidden;
}
.page3-heading {
  margin-right: 140px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.page3-heading h2 {
  text-align: center;
  font-size: 70px;
  color: #292e37;
  line-height: 85px;
  overflow-y: hidden;
}
.page3-content {
  justify-content: space-between;
  margin-top: 80px;
}

.p3-left {
  margin-top: 60px;
  width: 50%;
}
.p3-right {
  width: 50%;
}
.p3-left > img {
  padding: 10px;
  border-radius: 50%;
  background-color: #00acff;
}
.p3-left h3 {
  font-size: 50px;
  line-height: 65px;
  overflow-y: hidden;
  color: #292e37;
  margin: 20px 0;
}
.p3-left p {
  color: #292e37a3;
  font-size: 16px;
  line-height: 28px;
}
.page4 {
  margin-top: 80px;
  margin-bottom: 80px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-y: hidden;
}

.p4-left {
  width: 70%;
  overflow-y: hidden;
  margin-left: 50px;
}
.p4-right {
  width: 40%;
  overflow-y: hidden;
  overflow-y: hidden;
}
.circle {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: #f3f8ff;
}
.price-cart {
  z-index: 9;
  position: absolute;
  top: -30px;
  left: 250px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600px;
  width: 350px;
  border-radius: 20px;
  background-color: #fff;
}
.price-cart h4 {
  font-size: 24px;
  padding-bottom: 10px;
  color: #292e37;
}
.price-cart h2 {
  font-size: 40px;
  color: #292e37;

  padding-bottom: 25px;
}
.price-cart p {
  color: #525d73;
  font-size: 18px;
  padding-bottom: 25px;
}
.price-cart button {
  padding: 15px 30px;
  outline: none;
  border: none;
  background-color: #00acff;
  color: #ffffff;
  border-radius: 8px;
}
.btm-cart {
  position: absolute;
  top: 50px;
  left: 460px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 450px;
  color: #292e37;
  width: 300px;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #dcdcdc;
}
.btm-cart h4 {
  font-size: 20px;
  padding-bottom: 7px;
}
.btm-cart h2 {
  font-size: 35px;
  padding-bottom: 20px;
}
.btm-cart p {
  font-size: 16px;
  padding-bottom: 20px;
  color: #95949a;
}
.btm-cart button {
  padding: 15px 30px;
  outline: none;
  border: none;
  background-color: #fe5600;
  color: #ffffff;
  border-radius: 8px;
}
.likes-section {
  z-index: 99;
  position: absolute;
  top: 250px;
  left: 100px;
  justify-content: space-between;
  padding: 15px;
  gap: 25px;
  border-radius: 15px;
  background-color: #fff;
}
.like-left {
  padding: 15px;
  font-size: 20px;
  background-color: #f3f8ff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.like-left p {
  font-size: 18px;
}

.like-right h4 {
  font-size: 26px;
}
.like-right p {
  font-size: 16px;
  color: #95949a;
}
.p4-right {
  margin-right: 80px;
  flex-direction: column;
}
.p4-right span img {
  padding: 10px;
  background-color: #001caf;
  border-radius: 50%;
  margin-bottom: 10px;
}
.p4-right h2 {
  font-size: 40px;
  color: #292e37;
  line-height: 55px;
  overflow-y: hidden;
  margin-bottom: 25px;
}
.p4-right p {
  color: #525d73;
  margin-bottom: 30px;
}
/* #f5f7ff */
.btns button {
  padding: 15px 50px;
  outline: none;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.btn-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #eff2ff;
  color: #001caf;
}
.btn-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #001caf;
  color: white;
}
